.wrapper {
    width: 50%;
}

.light{
    width: 0.9em;
    background:var(--status-light-disconnected);
    display: inline-block;
}

.bad{
    background:var(--status-light-bad);
}

.ok{
    background:var(--status-light-ok);
}

.good{
    background:var(--status-light-good);
}

.disconnected{
    background:var(--status-light-disconnected);
}

.title{
    margin-left: 5px;
}