.wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    min-height: 45vh;
    background:var(--status-block-background)
}

.title{
    text-align: center;
    font-size: 3rem;
}

.lights{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}